:root {
    --primary-color: #ffcc00; /* زرد سینمایی */
    --bg-dark: #1a1a1a;       /* پس‌زمینه تاریک */
    --bg-card: #2a2a2a;       /* پس‌زمینه باکس درس‌ها */
    --text-light: #ffffff;    /* متن سفید */
    --text-muted: #aaaaaa;    /* متن خاکستری */
}
body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
}
